@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,400,500');

@import './partials/_header';
@import './partials/_form';
@import './partials/_lightbox';
@import './partials/_image_list';
@import './partials/_footer';
@import './partials/_loadmore';

body{
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
  font-family: 'IBM Plex Sans', sans-serif;
}