.app__search{
  display: block;
  justify-self: flex-end;
  position: absolute;
  bottom: 60px;
  input{
    border:none;
    background: transparent;
    width: 100%;
    max-width: 600px;
    font-size: 48px;
    color: #74809A;
    letter-spacing: 2.5px;
    text-align: center;
    font-weight: 200;
    text-transform: uppercase;
  }
  &:after{
    display: block;
    width: 100%;
    height: 1px;
    content:'';
    background: rgba(255,255,255,0.39);
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    position: absolute;
    bottom: -10px;
    left:0;
    right:0;
    margin: auto;
  }
}