.app__image__gallery {
  span {
    min-height: calc((100vh - 600px) - 90px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px 30px;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1440px;
    align-items: flex-start;
    .image__card {
      box-sizing: border-box;
      flex-basis: 20%;
      padding: 0 10px;
      cursor: pointer;
      &--thumb {
        width: 100%;
        border: 10px solid white;
        box-sizing: border-box;
        background: #ffffff;
        img {
          width: 100%;
        }
      }
      &--title {
        text-align: left;
        text-transform: uppercase;
        font-size: 12px;
        padding: 10px 0 10px 20px;
        background: #f3f3f3;
        margin-top: -5px;
        z-index: 10;
        position: relative;
      }
    }
  }
}

.card-enter {
  opacity: 0.01;
}

.card-enter.card-enter-active {
  opacity: 1;
  transition: all 500ms ease-in; // transition-delay: 500ms;
}

.card-leave {
  opacity: 1;
  display: none;
}

.card-leave.card-leave-active {
  opacity: 0.01;
  transition: all 0ms ease-in;
}

@media all and (max-width:980px) {
  .app__image__gallery {
    span {
      .image__card {
        flex-basis: 25%;
        margin-bottom: 20px;
      }
    }
  }
}

@media all and (max-width:768px) {
  .app__image__gallery {
    span {
      .image__card {
        flex-basis: 33.333333%;
        margin-bottom: 20px;
      }
    }
  }
}

@media all and (max-width:568px) {
  .app__image__gallery {
    span {
      .image__card {
        flex-basis: 100%;
        margin-bottom: 20px;
      }
    }
  }
}